:root {
  --black: #000000;
  --grey: #333333;
  --white: #ffffff;
  --white-01: #F2F2F2;
  --white-02: #666666;
  --white-03: #EBEBEB;
  --white-shadow: rgba(0, 1, 1, 0.2);
  --white-05: #E5E5E5;
  --blue: #81B3D2;
  --blue-01: #669EC0;
  --blue-02: #5496BD;
  --brown: #766357;
  --brown-01: #EEEEEE;
  --brown-02: #A9A9A9;
  --brown-03: #6A6A6A;
  --brown-04: #666666;
  --brown-05: #604E43;
  --brown-06: #503E33;
  --silver: #BDBBBC;
}

.page {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: var(--white);
  box-shadow: 0px 5px 15px var(--white-shadow);
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--white-f2f);
  background-position: top center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*HEADER BLOCK*/

.header {
  position: relative;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--white);
  margin: 0 auto;
  width: 1200px;
}

.navigation {
  /* display: grid;
  grid-template-rows: min-content;*/
  width: 1200px;
}

.navigation-logo {
  text-decoration: none;
  position: absolute;
  left: 50%;
  margin-left: -68px;
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;*/
  padding: 15px 72px 15px 72px;
  margin: 0px;
}

.navigation-item:nth-child(2) {
  margin-right: 134px;
}

.navigation-item:nth-child(3) {
  margin-left: 147px;
}

.navigation-link {
  text-decoration: none;
  color: var(--black);
}

.navigation-link:hover {
  color: var(--blue);
}

.navigation-link:focus {
  color: var(--black);
  opacity: 0.3;
}

.active-link:active {
  color: var(--brown);
}

/*MAIN BLOCK*/

.welcome-block {
  background-image: url(../img/decor-welcome-block.svg), url(../img/welcome-block-image.jpg);
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: 0% 100%;
  min-height: 509px;
  padding-top: 77px;
}

.welcome-block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.discription-block {
  text-align: center;
  margin: 42px 341px 51px 341px;
}

.discription-block strong {
  font-size: 21px;
  line-height: 26px;
}

.discription-block p {
  line-height: 26px;
  color: var(--grey);
  padding-top: 16px;
  margin: 0px;
}

.advantages {
  color: var(--grey);
}

.advantages-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.real-town {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column: 1/4;
}

.discription-real-town {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  grid-column: 1/2;
}

.real-town img {
  grid-column: 2/4;
  grid-row: 1/2;
}

.discription-real-town h3 {
  font-size: 21px;
  padding: 47px 139px 25px 139px;
  margin: 0px;
}

.discription-real-town p {
  margin: 0px;
  padding: 23px 54px;
}

.discription-real-town span {
  padding: 25px 23px;
}

.attributes-city {
  position: relative;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column: 1/4;
}

.icon-home::before {
  content: "";
  position: absolute;
  left: 162px;
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-house.svg);
}

.icon-burger::before {
  content: "";
  position: absolute;
  left: 562px;
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-burger.svg);
}

.icon-souvenir::before {
  content: "";
  position: absolute;
  left: 968px;
  top: 60px;
  width: 64px;
  height: 77px;
  background-image: url(../img/icon-souvenir.svg);
}

.attributes-city-item {
  text-align: center;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.attributes-city-item h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin: 0px;
  padding-top: 160px;
}

.attributes-city-item p {
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 82px;
}

.devil-bridge {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column: 1/-1;
}

.devil-bridge-discription {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  grid-column: 3/4;
}

.devil-bridge img {
  grid-column: 1/3;
  order: -1;
}

.devil-bridge-discription h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 25px;
  margin: 0px;
}

.devil-bridge-discription p {
  margin: 0px;
  padding-top: 23px;
  padding-bottom: 51px;
}

.devil-bridge-discription span {
  padding-top: 25px;
  padding-bottom: 23px;
}

.features-item {
  background-color: var(--brown-01);
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--black);
  margin: 0px;
  padding-top: 47px;
  padding-bottom: 25px;
}

.features-item p {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 54px;
}

.features-item span {
  padding-top: 25px;
  padding-bottom: 23px;
}

.interest {
  width: 1200px;
  height: 291px;
  text-align: center;
}

.interest h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
  margin: 0px;
  padding-top: 58px;
}

.interest p {
  line-height: 24px;
  color: var(--grey);
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 110px;
}

/*-------------BLOCK-form-search-hotel---------------*/

.search-hotels {
  position: relative;
}

.wrapper-form {
  margin: 55px;
}

.wrapper-form p {
  margin: 0;
}

.wrapper-form-data label {
  padding-right: 25px;
}

.wrapper-form-data input {
  flex-grow: 1;
  min-height: 38px;
  padding-left: 13px;
  padding-right: 30px;
}

.wrapper-form-data {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 458px;
  padding-bottom: 29px;
}

.form-button-data {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 21px;
  line-height: 23px;
  padding: 4px;
}

.form-button-data:hover path {
  fill: var(--black);
}

.form-button-data:active path {
  fill: var(--blue);
}

.form-button-data:active {
  outline: none;
}

.wrapper-form-age-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 54px;
}

.wrapper-form-age input {
  align-self: stretch;
  width: 38px;
}

.wrapper-form-age label {
  padding-right: 40px;
}

.wrapper-form-age {
  display: flex;
  align-items: baseline;
}

.form-search-hotel {
  position: absolute;
  left: 316px;
  top: -86px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  background-color: var(--white);
  width: 568px;
}

.form-search-hotel input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  background-color: var(--white-01);
  border: none;
  text-transform: inherit;
}

.form-search-hotel input:hover {
  background-color: var(--white-03);
  border: none;
}

.form-search-hotel input:focus {
  outline: none;
  border: 2px solid var(--white-05);
  background-color: var(--white);
}

.form-search-hotel button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  text-transform: inherit;
}

.search-button {
  background-color: var(--brown);
  color: var(--white);
  padding: 30px 124px 30px 125px;
  width: 568px;
}

.search-button:hover {
  background-color: var(--brown-05);
}

.search-button:focus {
  background-color: var(--brown-06);
  outline: none;
}

.find-button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 16px 182px 16px 181px;
  width: 100%;
}

.find-button:hover {
  background-color: var(--blue-01);
}

.find-button:focus {
  background-color: var(--blue-02);
  outline: none;
}

.button-minus, .button-plus {
  font-size: 11px;
  line-height: 11px;
  background-color: var(--white-01);
  color: var(--brown-02);
  padding: 10px 10px;
}

.button-minus:hover, .button-plus:hover {
  color: var(--black);
}

.button-minus:focus, .button-plus:focus {
  color: var(--blue);
  outline: none;
}

/*------------------FOOTER BLOCK----------------------*/

.footer {
  background-color: var(--white);
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;*/
  text-align: center;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-contacts p {
  margin: 0px;
  padding: 23px 0 4px 0;
}

.footer-contacts a {
  display: block;
  text-decoration: none;
  color: var(--black);
  padding: 4px 0 4px 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 36px 0 36px 0;
  margin: 0;
  width: 170px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  margin: 3px 3px 3px 3px;
}

.link-twitter::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link-fb::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link-youtube::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-link:hover, .social-link:focus {
  background-color: var(--blue-01);
}

.social-link:active::before {
  background-color: var(--blue-02);
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-copyright p {
  margin: 0px;
  padding: 49px 6px 46px 0;
}

.footer-copyright a {
  margin: 38px 0 41px 0;
  width: 115px;
  height: 41px;
}

.footer-copyright a:hover path, .footer-copyright a:focus path {
  fill: var(--blue);
}

.footer-copyright a:active path {
  fill: var(--silver);
}

/*---------------------CATALOG----------------------*/

.filter-hotel {
  width: 1200px;
}

.form-filter-hotel {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  background-image: url(../img/background-filter.jpg);
}

.form-filter-hotel legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--white);
}

.form-filter-hotel label {
  color: var(--white);
}

.sorting {
  list-style: none;
  height: 100%;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 1px solid var(--white-05);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  /*display: grid;
  grid-template-columns: max-content max-content 1fr max-content;*/
}

.sorting-found {
  font-size: 21px;
  line-height: 26px;
  margin: 29px 46px 31px 73px;
}

.sorting p {
  margin: 0 40px 0 0;
}

.sorting-list {
  list-style: none;
  padding: 0;
  /* width: 239px; */
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: max-content max-content max-content; */
  /* gap: 30px; */
  /* align-items: center; */
}

.sorting-link {
  color: var(--black);
  text-decoration: none;
  opacity: 0.3;
  border-bottom: 1px dashed var(--blue);
  margin-right: 32px;
}

.sorting-link:hover {
  color: var(--blue);
  border-bottom: 1px dashed var(--blue);
}

.sorting-link:active {
  color: var(--black);
  opacity: 1;
  border: none;
}

.sorting-link:focus {
  color: var(--black);
  opacity: 1;
  border: none;
}

.sorting-link-button {
  margin-left: auto;
  margin-right: 73px;
}

.sorting-button {
  padding: 3px;
}

.sorting-button:hover path {
  fill: var(--black);
}

.sorting-button:active path {
  fill: var(--blue);
}

.list-hotel {
  list-style: none;
  width: 1200px;
  min-height: 454px;
  margin: 0;
  padding: 0;
}

.list-hotel-item {
  color: var(--black);
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  padding: 30px 73px 30px 73px;
  border-bottom: 1px solid var(--white-05);
}

.discription-hotel {
  padding-left: 29px;
  display: grid;
  grid-template-areas: "name name" "paragraph price" "detailed booked";
  gap: 7px;
}

.name-hotel-link {
  grid-area: name;
}

.paragraph {
  margin: 0;
  grid-area: paragraph;
}

.price {
  grid-area: price;
}

.detailed-link {
  grid-area: detailed;
}

.booked-link {
  grid-area: booked;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.star {
  background-image: url(../img/star.svg);
  background-repeat: repeat;
  background-position: 100% 0%;
  height: 17px;
  margin: 0px;
  align-self: flex-end;
}

.star-1 {
  width: 20px;
}
.star-2 {
  width: 40px;
}
.star-3 {
  width: 60px;
}
.star-4 {
  width: 80px;
}
.star-5 {
  width: 100px;
}

.rating p {
  text-align: center;
  color: var(--brown-04);
  background-color: var(--white-01);
  padding: 3px 12px 3px 15px;
  margin: 0;
  align-self: flex-end;
}

.booked-link:hover {
  background-color: var(--brown-05);
}

.booked-link:focus {
  background-color: var(--brown-05);
}

.booked-link:active {
  background-color: var(--brown-06);
}

.detailed-link:hover {
  background-color: var(--blue-01);
}

.detailed-link:focus {
  background-color: var(--blue-01);
}

.detailed-link:active {
  background-color: var(--blue-02);
}

.name-hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.detailed-link {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  background-color: var(--blue);
  padding: 3px 16px 3px 17px;
}

.booked-link {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  background-color: var(--brown);
  padding: 3px 16px 3px 17px;
}

.list-hotel-item p {
  color: var(--grey);
}

.list-hotel-item span {
  color: var(--grey);
}

.rating b {
  text-align: center;
  color: var(--brown-04);
  background-color: var(--white-01);
  padding: 3px 0 3px 0;
  width: 110px;
}
