:root {
  --black: #000000;
  --grey: #333333;
  --white: #ffffff;
  --white-01: #F2F2F2;
  --white-02: #666666;
  --white-03: #EBEBEB;
  --white-04: #cccccc;
  --blue: #81B3D2;
  --blue-01: #669EC0;
  --blue-02: #5496BD;
  --brown: #766357;
  --brown-01: #EEEEEE;
  --brown-02: #A9A9A9;
  --brown-03: #6A6A6A;
  --brown-04: #666666;
  --brown-05: #604E43;
  --brown-06: #503E33;
}

.page {
  height: 100%;
}

.shadow {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  box-shadow: 0px 5px 15px var(--white-04);
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--white-f2f);
  background-position: top center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*HEADER BLOCK*/

.header {
  position: relative;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--white);
  margin: 0 auto;
  min-width: 1200px;
}

.navigation {
  display: grid;
  grid-template-rows: min-content;
  width: 1200px;
}

.navigation-logo {
  text-decoration: none;
  position: absolute;
  left: 45%;
}

.navigation-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  padding: 15px 72px 15px 72px;
  margin: 0px;
}

.navigation-link {
  text-decoration: none;
  color: var(--black);
}

.navigation-link:hover {
  color: var(--blue);
}

.navigation-link:focus {
  color: var(--black);
  opacity: 0.3;
}

.active-link:active {
  color: var(--brown);
}

/*MAIN BLOCK*/

.welcome-block {
  background-image: url(../img/welcome-block-image.jpg);
  width: 1200px;
  height: 509px;
  margin: 0px;
}

.welcome-block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 77px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: var(--white);
  /*box-shadow: 0px 5px 15px var(--black);*/
}

.discription-block {
  text-align: center;
  padding-top: 42.5px;
  padding-bottom: 51px;
}

.discription-block strong {
  font-size: 21px;
  line-height: 26px;
}

.discription-block p {
  line-height: 26px;
  color: var(--grey);
  padding-top: 16px;
  margin: 0px;
}

.advantages {
  color: var(--grey);
}

.advantages-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
}

.real-town {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px;
  grid-column: 1/4;
  grid-row: 1/2;
}

.discription-real-town {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
}

.real-town img {
  grid-column: 2/4;
  grid-row: 1/2;
}

.discription-real-town h3 {
  font-size: 21px;
  padding: 47px 139px 25px 139px;
  margin: 0px;
}

.discription-real-town p {
  margin: 0px;
  padding: 23px 54px;
}

.discription-real-town span {
  padding: 25px 23px;
}

.attributes-city {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column: 1/4;
  grid-row: 2/3;
}

.attributes-city-item {
  text-align: center;
}

.attributes-city-item h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin: 0px;
  padding-top: 160px;
  padding-bottom: 25px;
}

.attributes-city-item p {
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 82px;
}

.devil-bridge {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px;
  grid-column: 1/4;
  grid-row: 3/4;
}

.devil-bridge-discription {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  grid-column: 3/4;
  grid-row: 1/2;
}

.devil-bridge-discription img {
  grid-column: 1/3;
  grid-row: 1/2;
}

.devil-bridge-discription h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 25px;
  margin: 0px;
}

.devil-bridge-discription p {
  margin: 0px;
  padding-top: 23px;
  padding-bottom: 51px;
}

.devil-bridge-discription span {
  padding-top: 25px;
  padding-bottom: 23px;
}

.features-item {
  background-color: var(--brown-01);
  text-align: center;
  grid-column: 1/4;
  grid-row: 4/5;
}

.cell-square {
  grid-column: 1/2;
}

.cell-road {
  grid-column: 2/3;
}

.cell-tourist {
  grid-column: 3/4;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--black);
  margin: 0px;
  padding-top: 47px;
  padding-bottom: 25px;
}

.features-item p {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 54px;
}

.features-item span {
  padding-top: 25px;
  padding-bottom: 23px;
}

.interest {
  width: 1200px;
  height: 291px;
  text-align: center;
}

.interest h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
  margin: 0px;
  padding-top: 58px;
  padding-bottom: 25px;
}

.interest p {
  line-height: 24px;
  color: var(--grey);
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 110px;
}

.search-hotels {
  position: relative;
}

.form-search-hotel {
  position: absolute;
  left: 316px;
  top: -86px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  background-color: var(--white);
  width: 568px;
}

.form-search-hotel input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  border: none;
  text-transform: inherit;
}

.form-search-hotel input:hover {
  background-color: var(--white-03);
  border: none;
}

/*
.form-search-hotel input:focus{
  background-color: var(--white);
  border: 2px solid var(--white-e5e);
}*/

/*Не работает фокус*/

.form-search-hotel button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  text-transform: inherit;
}

.search-button {
  background-color: var(--brown);
  color: var(--white);
  padding: 30px 124px 30px 125px;
  width: 568px;
}

.search-button:hover {
  background-color: var(--brown-05);
}

.search-button:focus {
  background-color: var(--brown-06);
  /*opacity: 0.3;  Как задать прозрачностьимено тексту при наведении а не всей кнопке*/
  outline: none;
}

.find-button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 16px 182px 16px 181px;
}

.find-button:hover {
  background-color: var(--blue-01);
}

.find-button:focus {
  background-color: var(--blue-02);
  outline: none;
}

.button-minus, .button-plus {
  font-size: 11px;
  line-height: 11px;
  background-color: var(--white-01);
  color: var(--brown-02);
  padding: 18px 14px 17px 14px;
}

.button-minus:hover, .button-plus:hover {
  color: var(--black);
}

.button-minus:focus, .button-plus:focus {
  color: var(--blue);
  outline: none;
}

/*FOOTER BLOCK*/

.footer {
  background-color: var(--white);
  color: var(--black);
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  /*box-shadow: 0px 5px 15px var(--black);*/
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-contacts p {
  margin: 0px;
  padding: 23px 206px 9px 153px
}

.footer-contacts a {
  text-decoration: none;
  color: var(--black);
  padding: 9px 163px 36px 111px;
}

.social-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-copyright p {
  margin: 0px;
}

/*CATALOG*/

.filter-hotel {
  width: 1200px;
}

.form-filter-hotel {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  background-image: url(../img/background-filter.jpg);
}

.form-filter-hotel legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--white);
}

.form-filter-hotel label {
  color: var(--white);
}

.sorting {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
}

.sorting-found {
  font-size: 21px;
  line-height: 26px;
  padding: 29px 46px 31px 73px;
}

.sorting p {
  margin: 0px;
  padding-top: 31px;
  padding-bottom: 37px;
  padding-right: 40px;
}

.sorting-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 30px;
  align-items: center;
}

.sorting-item a {
  color: var(--black);
  text-decoration: none;
  opacity: 0.3;
  border-bottom: 1px dashed var(--blue);
}

.sorting-item a:hover {
  color: var(--blue);
  border-bottom: 1px dashed var(--blue);
}

.sorting-item a:active {
  color: var(--black);
  opacity: 1;
  border: none;
}

.sorting-item a:focus {
  color: var(--black);
  opacity: 1;
  border: none;
}

.list-hotel {
  list-style: none;
  width: 1200px;
  min-height: 454px;
  margin: 0;
  padding: 0;
}

.list-hotel-item {
  color: var(--black);
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  padding: 30px 73px 30px 73px;
}

.discription-hotel {
  padding-left: 29px;
  display: grid;
  grid-template-areas: "a a" "p s" "d b";
}

.name-hotel-link {
  grid-area: a;
}

.paragraph {
  padding-top: 7px;
  padding-bottom: 10px;
  margin: 0;
  grid-area: p;
}

.price {
  padding-top: 7px;
  padding-bottom: 10px;
  grid-area: s;
}

.detailed-link {
  grid-area: d;
}

.booked-link {
  grid-area: b;
}

.rating {
  align-self: end;
  justify-self: end;
}
.booked-link:hover{
  background-color: var(--brown-05);
}
.booked-link:focus{
  background-color: var(--brown-05);
}
.booked-link:active{
  background-color: var(--brown-06);
}
.detailed-link:hover{
  background-color: var(--blue-01);
}
.detailed-link:focus{
  background-color: var(--blue-01);
}
.detailed-link:active{
  background-color: var(--blue-02);
  opacity: 0.3;
}
.name-hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.detailed-link {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  background-color: var(--blue);
  padding: 3px 16px 3px 17px;
  margin-right: 6px;
}

.booked-link {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  background-color: var(--brown);
  padding: 3px 16px 3px 17px;
}

.list-hotel-item p {
  color: var(--grey);
}

.list-hotel-item span {
  color: var(--grey);
}

.list-hotel-item b {
  color: var(--brown-04);
  background-color: var(--white-01);
  padding: 3px 12px 3px 15px;
}
